# Data Preprocessing Libraries

In [6]:
import pandas as pd
import numpy as np

# Ingest Data

In [12]:
tel_df = pd.read_csv('telecom_churn.csv')

In [13]:
tel_df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [14]:
type(tel_df)

pandas.core.frame.DataFrame

In [38]:
tel_df.head(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False
10,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
11,RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False
12,IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False
13,MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False
14,IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False
15,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
16,ID,85,408,No,Yes,27,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False
17,VT,93,510,No,No,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False
18,VA,76,510,No,Yes,33,189.7,66,32.25,212.8,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False
19,TX,73,415,No,No,0,224.4,90,38.15,159.5,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False

In [37]:
tel_df.tail()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3328,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [39]:
type(tel_df.shape)

tuple

In [41]:
tel_df.shape

(3333, 20)

In [42]:
tel_df.size

66660

In [43]:
l = [7,8,9]
l[0]

7

In [47]:
tel_df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [49]:
type(tel_df['State'])

pandas.core.series.Series

In [54]:
tel_df.head()['Account length']

0    128
1    107
2    137
3     84
4     75
Name: Account length, dtype: int64

In [55]:
tel_df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [64]:
a = {'a':[1,3.4,2]}

In [65]:
df = pd.DataFrame(a)

In [66]:
df

     a
0  1.0
1  3.4
2  2.0

In [67]:
df.dtypes

a    float64
dtype: object

In [68]:
tel_df.head(1)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False

In [69]:
tel_df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [75]:
sub_copy = tel_df[['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages']]

In [76]:
sub_copy.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages
0,KS,128,415,No,Yes,25
1,OH,107,415,No,Yes,26
2,NJ,137,415,No,No,0
3,OH,84,408,Yes,No,0
4,OK,75,415,Yes,No,0

In [81]:
sub_copy = tel_df['State']

In [82]:
sub_copy

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [83]:
# Get a section of rows by row number
tel_smalldf = tel_df[0:101]

In [87]:
tel_smalldf

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,MT,73,415,No,No,0,160.1,110,27.22,213.3,72,18.13,174.1,72,7.83,13.0,4,3.51,0,False
97,AZ,99,415,No,No,0,198.2,87,33.69,207.3,76,17.62,190.9,113,8.59,8.7,3,2.35,4,False
98,MS,120,408,No,No,0,212.1,131,36.06,209.4,104,17.80,167.2,96,7.52,5.3,5,1.43,1,True
99,ID,77,415,No,No,0,251.8,72,42.81,205.7,126,17.48,275.2,109,12.38,9.8,7,2.65,2,True
100,IA,98,510,No,Yes,21,161.2,114,27.40,252.2,83,21.44,160.2,92,7.21,4.4,8,1.19,4,False

In [85]:
l = [1,2,3,4]

In [86]:
l[1:3]

[2, 3]

In [97]:
sub_copy = tel_df[['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages']]
sub_copy = sub_copy[0:101:2]

In [99]:
sub_copy.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages
0,KS,128,415,No,Yes,25
2,NJ,137,415,No,No,0
4,OK,75,415,Yes,No,0
6,MA,121,510,No,Yes,24
8,LA,117,408,No,No,0

In [117]:
tel_df['State'].unique()

array(['ks', 'oh', 'nj', 'ok', 'al', 'ma', 'mo', 'la', 'wv', 'in', 'ri',
       'ia', 'mt', 'ny', 'id', 'vt', 'va', 'tx', 'fl', 'co', 'az', 'sc',
       'ne', 'wy', 'hi', 'il', 'nh', 'ga', 'ak', 'md', 'ar', 'wi', 'or',
       'mi', 'de', 'ut', 'ca', 'mn', 'sd', 'nc', 'wa', 'nm', 'nv', 'dc',
       'ky', 'me', 'ms', 'tn', 'pa', 'ct', 'nd'], dtype=object)

In [103]:
len(tel_df['State'].unique())

51

In [109]:
tel_df['State'] = tel_df['State'].str.lower()

In [113]:
tel_df.head(1)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,ks,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False

In [114]:
tel_df["multiplied_messages"] = tel_df['Number vmail messages']*2

In [115]:
tel_df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,multiplied_messages
0,ks,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,50
1,oh,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,52
2,nj,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,0
3,oh,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,0
4,ok,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,0

In [118]:
l = [1,2,3]
for i in l:
    print(i)

1
2
3

In [120]:
tel_df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn', 'multiplied_messages'],
      dtype='object')

In [149]:
small_df = tel_df.loc[:100,['State','Total night calls','Total eve calls']]
small_df['total'] = small_df['Total night calls'] + small_df['Total eve calls']
small_df['total_mul'] = small_df['total']*0.2
small_df['total_int'] = small_df['total_mul'].astype('int')
small_df['total_round'] = round(small_df['total_mul']).astype('int')

In [140]:
a = 1.56
round(a,1)

1.6

In [141]:
type(a)

float

In [142]:
int(a)

1

In [151]:
small_df

,State,Total night calls,Total eve calls,total,total_mul,total_int,total_round
0,ks,91,99,190,38.0,38,38
1,oh,103,103,206,41.2,41,41
2,nj,104,110,214,42.8,42,43
3,oh,89,88,177,35.4,35,35
4,ok,121,122,243,48.6,48,49
...,...,...,...,...,...,...,...
96,mt,72,72,144,28.8,28,29
97,az,113,76,189,37.8,37,38
98,ms,96,104,200,40.0,40,40
99,id,109,126,235,47.0,47,47
100,ia,92,83,175,35.0,35,35